$font-cursive: 'Oleo Script', cursive;
$font-title: 'Montserrat', sans-serif;
$font-body: 'Merriweather', serif;
$primaryColor: #2487C8; 
$secondaryColor: #f8f9fa;
$screenMinusNav: calc(100vh - 76px);
$imgPathRelPartial: "../img";

